/* styles.css */
.mask-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); /* Semi-transparent black mask */
  pointer-events: none; /* Allow interaction with the Swiper below the mask */
  z-index: 1; /* Ensure the mask is on top of the Swiper */
  background: linear-gradient(
    to right,
    #262626 0%,
    transparent 40%,
    transparent 60%,
    #262626 100%
  );
  mask-size: 100% 100%;
  mask-position: center;
  mask-repeat: no-repeat;
}
